<!DOCTYPE html>
<html lang="fa">

<head>

<meta charset="UTF-8">

<title>سفارش</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>

<div class="login-box">

<div class="avatar-circle">
✅
</div>

<h1>Roblox Pro</h1>

<h2>

سفارش شما در حال بررسی است

</h2>

<p class="subtitle">

🙏 ممنون از خرید شما

</p>

<p style="color:white;">

اطلاعات بیشتر از طریق پیامک به شما اعلام می‌شود.

</p>

<a href="/">

<button class="buy-btn">

بازگشت به صفحه اصلی

</button>

</a>

</div>

</body>

</html>